@model Feature3.Models.Calendar

@{
	ViewBag.Title = "Delete";
}
@* -------- PLEASE DO NOT CHANGE ANYTHING FROM HERE... -------- *@
<main class="secondary-main">
	<div class="row">
		<div class="col-md-2 container-fluid">

			<!-- Slideout Button -->
			<button class="slideout_btn" type="button">
				<div class="show-more">
					<img src="~/Images/show-more.png" alt="Show More" />
				</div>
			</button>

			<!-- Slideout Aside - Shows in Mobile -->
			<div class="slideout">
				@Html.Partial("_Aside")
			</div>

			<!-- Static Aside - Hides in Mobile-->
			<div class="aside-hide">
				@Html.Partial("_Aside")
			</div>
		</div>


		<div class="col-md-10 col-sm-12 col-xs-12 page-row">
			<div class="container">

				@* PAGE TITLE - YOU MAY CHANGE THE TEXT OF PAGE TITLE *@
				<br />
				<h2 class="page-title">Delete event:</h2>
				@* ------------------------- TO HERE ------------------------- *@
				<h3>Are you sure you want to delete this?</h3>
				<div>
					<h4>Calendar</h4>
					<hr />
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Event_name)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_name)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Event_date)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_date)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Event_time)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_time)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Event_location)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_location)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Event_desc)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_desc)
						</dd>

					</dl>

					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<div class="form-actions">
							<input type="submit" value="Delete" class="btn btn-default" />
						</div>
						<br />
						<br />
						@Html.ActionLink("Back to List", "Admin")
					}
				</div>
				@* -------- PLEASE DO NOT CHANGE ANYTHING FROM HERE... -------- *@
			</div> <!-- End of Page Container -->
		</div> <!-- End of Page Column -->
	</div> <!-- End of Row -->
</main> <!-- End of Main -->
@* ------------------------- TO HERE ------------------------- *@
