@model Feature3.Models.Calendar

@{
    ViewBag.Title = "Event Information";
}
@* -------- PLEASE DO NOT CHANGE ANYTHING FROM HERE... -------- *@
<main class="secondary-main">
	<div class="row">
		<div class="col-md-2 container-fluid">

			<!-- Slideout Button -->
			<button class="slideout_btn" type="button">
				<div class="show-more">
					<img src="~/Images/show-more.png" alt="Show More" />
				</div>
			</button>

			<!-- Slideout Aside - Shows in Mobile -->
			<div class="slideout">
				@Html.Partial("_Aside")
			</div>

			<!-- Static Aside - Hides in Mobile-->
			<div class="aside-hide">
				@Html.Partial("_Aside")
			</div>
		</div>


		<div class="col-md-10 col-sm-12 col-xs-12 page-row">
			<div class="container">

				@* PAGE TITLE - YOU MAY CHANGE THE TEXT OF PAGE TITLE *@
				<br />
				<h2 class="page-title">Event details:</h2>
				@* ------------------------- TO HERE ------------------------- *@
				<div>
					<hr />
					<h1>@Html.DisplayFor(model => model.Event_name)</h1>
					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Event_date) :
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_date)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Event_time) :
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_time)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Event_location) :
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_location)
						</dd>

						<dt>
							@Html.DisplayNameFor(model => model.Event_desc) :
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Event_desc)
						</dd>

					</dl>
				</div>
				<p>
					@Html.ActionLink("Back to Event List", "Index")
				</p>
				@* -------- PLEASE DO NOT CHANGE ANYTHING FROM HERE... -------- *@
			</div> <!-- End of Page Container -->
		</div> <!-- End of Page Column -->
	</div> <!-- End of Row -->
</main> <!-- End of Main -->
@* ------------------------- TO HERE ------------------------- *@

